<h1>Questions#index</h1>
<p>Find me in app/views/questions/index.html.erb</p>

<% @questions.each do |question| %>

  <%= link_to user_path(question.user.id) do %>
    <%= attachment_image_tag question.user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <% end %>

  <%= question.user.name %>

  <%= question.title %>

  <%= question.body %>

  <%= link_to "Questionã®show", question_path(question) %>

<% end %>

