<%= render 'layouts/header', user: @user %>
<div class="container pt-3 pb-3">
  <div class="row mx-auto mt-1">
    <div class="col-10 mx-auto bg-white" style="width:1%;">
      <div class="pt-3 text-right">
        <%= link_to "質問一覧に戻る", questions_path, class: "fas fa-undo-alt text-success" %>
      </div>
      <h2 class="mt-2 pb-1 text-center">質問作成</h2>
      <table class="table">
        <tr>
          <th>
            <%= form_with model: @question, local:true do |f| %>
              <div class="pt-3 pl-2">タイトル
                <%= f.text_area :title, rows:'1', cols:'100' %>
              </div>
              <div class="pt-3 pl-2">質問内容
                <%= f.text_area :body, rows:'5', cols:'100' %>
              </div>
              <div class="text-center">
                <%= f.submit '投稿する', class: "btn btn-danger" %>
              </div>
            <% end %>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
