<%= render 'layouts/header', user: current_user %>
<div class="container pt-3 pb-3">
  <div class="row mx-auto mt-1">
    <div class="col-6 mx-auto bg-white" style="width:1%;">
      <h3 class="mt-2 pb-1 text-center text-nowrap">ユーザー設定変更</h2>
      <div class="text-center">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field pt-3">
            <%= f.email_field :email, :placeholder => 'メールアドレス', size:"30", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field pt-3">
            <%= f.password_field :password, size:"30", :placeholder => '新しいパスワード(6文字以上)', autocomplete: "new-password" %>
          </div>

          <div class="field pt-3">
            <%= f.password_field :password_confirmation, size:"30", :placeholder => 'パスワード(確認用)', autocomplete: "new-password" %>
          </div>

          <div class="field pt-3">
            <%= f.password_field :current_password, size:"30", :placeholder => '現在のパスワード', autocomplete: "current-password" %>
          </div>

          <div class="actions pt-3"><%= f.submit "変更を保存", class: "btn btn-success" %></div>

        <% end %>

        <!--退会-->
        <h5 class="pt-5 text-danger fas">Pomo's Studyのご利用を辞めますか？</h3><br>

        <%= link_to "退会する", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "本当に退会しますか？" }, method: :delete %>
      </div>
      <%= link_to :back do %>
        <i class="fas fa-undo"></i> もどる
      <% end %>
    </div>
  </div>
</div>


