<%= render 'layouts/header', user: current_user %>
<div class="container pt-3 pb-3">
  <div class="row">
    <!--ユーザーの部分テンプレート-->
    <%= render 'users/prf', user: current_user, tweet: @tweet %>
    <div class="col-md-8 bg-white pr-5">
      <table class="table pt-5">
        <% @tweets.each do |tweet| %>
        <tr>
          <th>
            <% if tweet.user != current_user %>
              <%= link_to user_path(tweet.user.id) do %>
                <%= attachment_image_tag tweet.user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
              <% end %>
            <% else %>
              <%= attachment_image_tag tweet.user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
            <% end %>
            <span class="align-bottom"><%= tweet.user.name %></span>
            <div class="pl-3 pr-3"><%= tweet.body %></div>
            <div class="text-right">
              <!--コメント-->
              <%= link_to "", tweet_path(tweet.id), class: "fas fa-comment-dots" %><%= tweet.tweet_comments.count %>

              <!--いいねボタン-->
              <% if tweet.claped_by?(current_user) %>
                <%= link_to tweet_claps_path(tweet), method: :delete do %>
                  <i class="fas fa-thumbs-up"></i><%= tweet.claps.count %>
                <% end %>
              <% else %>
                <%= link_to tweet_claps_path(tweet), method: :post do %>
                  <i class="far fa-thumbs-up"></i>
                <% end %>
                <%= tweet.claps.count %>
              <% end %>
            </div>
            <div class="text-right"><%= tweet.created_at.strftime('%m/%d %H:%M') %></div>
            <!--削除ボタン-->
            <div class="text-right">
              <% if tweet.user == current_user %>
                <%= link_to "", tweet_path(tweet), method: :delete, "data-confirm" => "Tweetを削除しますか？" , class: "fas fa-trash-alt btn btn-danger btn-sm" %>
              <% end %>
            </div>
          </th>
        </tr>
        <% end %>
      </table>
      <div class="float-right">
        <%= paginate @tweets %>
      </div>
    </div>
  </div>
</div>

