<h1>Tweets#new</h1>
<p>Find me in app/views/tweets/new.html.erb</p>
<%= @user.name %>
<%= attachment_image_tag @user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
<%= form_with model: @tweet, local:true do |f| %>
    <h2>内容</h2>
    <%= f.text_area :body %>
    <%= f.submit '投稿' %>
<% end %>