<%= render 'layouts/header', user: current_user %>
<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-md-8 mx-auto bg-white pr-5">
      <table class="table">
        <tr>
          <th class="pt-3 pl-5 pr-5">
            <%= attachment_image_tag @tweet.user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
            <%= @tweet.user.name %>
            <div class="pl-5 pr-5"><%= @tweet.body %></div>
            <div class="text-right">
              <!--コメント-->
              <i class="fas fa-comment-dots"></i><%= @tweet.tweet_comments.count %>

              <!--いいねボタン-->
              <% if @tweet.claped_by?(current_user) %>
                <%= link_to tweet_claps_path(@tweet), method: :delete, remote: true do %>
                  <i class="fas fa-thumbs-up"></i><%= @tweet.claps.count %>
                <% end %>
              <% else %>
                <%= link_to tweet_claps_path(@tweet), method: :post, remote: true do %>
                  <i class="far fa-thumbs-up"></i>
                <% end %>
                <%= @tweet.claps.count %>
              <% end %>
            </div>
            
            <div class="text-right"><%= @tweet.created_at.strftime('%m/%d %H:%M') %></div>

            <!--削除ボタン-->
            <div class="text-right">
              <% if @tweet.user == current_user %>
                <%= link_to "", tweet_path(@tweet), method: :delete, "data-confirm" => "Tweetを削除しますか？" , class: "fas fa-trash-alt btn btn-danger btn-sm" %>
              <% end %>
            </div>
          </th>
        </tr>
        <tr>
          <th>
            <%= form_with(model:[@tweet, @tweet_comment], local: true ) do |f| %>
              <%= f.text_area :comment, rows:'1', cols:'80' %>
              <%= f.submit "コメントする", class: "btn btn-success" %>
            <% end %>
          </th>
        </tr>
        <tr>
          <% @tweet.tweet_comments.each do |tweet_comment| %>
            <th>
              <%= attachment_image_tag tweet_comment.user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
              <%= tweet_comment.user.name %>
              <div class="pl-5 pr-5"><%= tweet_comment.comment %></div>
              <div class="text-right"><%= tweet_comment.created_at.strftime('%m/%d %H:%M') %></div>
              <!--削除ボタン-->
              <div class="text-right">
                <% if tweet_comment.user == current_user %>
                  <%= link_to "", tweet_tweet_comment_path(tweet_comment.tweet, tweet_comment), method: :delete, "data-confirm" => "コメントを削除しますか？" , class: "fas fa-trash-alt btn btn-danger btn-sm" %>
                <% end %>
              </div>
            </th>
          <% end %>
        </tr>
        <tr>
          <th><%= link_to "", tweets_path, class: "fas fa-undo" %></th>
        </tr>
      </table>
    </div>
  </div>
</div>
