<div class="col-md-3 mx-auto bg-white" style="width:1%;">
  <div class="pt-4">
    <%= attachment_image_tag user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
    <span class="align-bottom fas"><%= user.name %></span>
    <span class="align-bottom h2 text-right pl-5"><%= link_to "", edit_user_path(user), class: "fas fa-edit text-right text-danger" %></span>
  </div>
  <table class="table mt-1">
    <tr>
      <th>活用方法：
        <span>
          <% if user.user_genre == nil %>
            <%= link_to "未設定", edit_user_path(user), class: "text-success" %>
          <% else %>
            <%= user.user_genre %>
          <% end %>
        </span>
      </th>
    </tr>
    <tr>
      <th class="text-center">
        <span>
          <%=link_to followings_user_path(user), class: "text-success" do %>
            <%= user.followings.count %>
          <% end %>
          フォロー
        </span>
        <span>
          <%=link_to followers_user_path(user), class: "text-success" do %>
            <%= user.followers.count %>
          <% end %>
          フォロワー
        </span>
      </th>
    </tr>
    <% if user == current_user %>
    <tr>
      <th class="text-center"><%= link_to "ユーザー設定", edit_user_path(user), class: "btn btn-outline-success btn-block fas btn-lg fa-user-cog" %></th>
    </tr>
    <% end %>

  </table>
</div>



フォロワー数
<%=link_to followers_user_path(user) do %>
              <%= user.followers.count %>
            <% end %>
フォロー数
<%=link_to followings_user_path(user) do %>
              <%= user.followings.count %>
            <% end %>
<% if user_signed_in? && @user != current_user%>
                  <div id=<%= "follow_form" +  user.id.to_s %>>
                  <% if current_user.followings?(user) %>
                    <%= render "relationships/unfollow", user: user %>
                  <% else %>
                    <%= render "relationships/follow", user: user %>
                  <% end %>
                  </div>
                <% end %>

<!--ログインしているユーザーのみ編集可能-->
<%= user.user_genre %>
<br>
<% if user == current_user %>
<%= link_to "Usersのedit", edit_user_path(user) %>
<% end %>

<%= link_to "Usersのindex", users_path %>

<%= link_to "tweetのnew", new_tweet_path %>

<%= link_to "tweetのindex", tweets_path %>
