<%= render 'layouts/header', user: current_user %>
<div class="container pt-3 pb-3">
  <div class="row mx-auto mt-1">
    <div class="col-6 mx-auto bg-white" style="width:1%;">
      <h3 class="mt-2 pb-1 text-center text-nowrap">ユーザー設定変更</h2>
      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <% @user.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
      <table class="table pt-5 pl-5 text-center">
        <tr>
          <th>
            <%= form_with model: @user, local:true do |f| %>

              <label for="inputImgage">ユーザーアイコン</label><br>
                <%= attachment_image_tag @user, :image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
                <%= f.attachment_field :image, size:"30", placeholder: "プロフィール画像" %><br><br>

              <label for="inputName">お名前</label><br>
                <%= f.text_field :name, size:"30", autofocus: true, id:"inputName", placeholder:"名前"%><br><br>

              <label for="inputJunre"><%= @user.name %>さんの活用方法をお選びください</label><br>
                <%= f.select :user_genre, User.user_genres.keys.to_a, {} %><br><br>

              <%= f.submit "変更を保存", class: "btn btn-success" %>

            <% end %>

            <div class="pt-5"><%= link_to "メールアドレス・パスワード変更、退会はこちらから", edit_user_registration_path, class: "btn btn-danger" %></div>
          </th>
        </tr>
      </table>
      <%= link_to :back do %>
        <i class="fas fa-undo"></i> もどる
      <% end %>
    </div>
  </div>
</div>




