<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<div class="container px-5 px-sm-0">
  <div class="row m-5 pl-5">

    <h3>ユーザー検索</h3>
    <br><br>
    <%= search_form_for @q, url: search_users_path do |f| %>
      <%= f.label :name_cont, 'ユーザー名' %>
      <%= f.search_field :name_cont %>
      <%= f.label :user_genre_cont, 'ユーザージャンル' %>
      <%= f.submit '検索' %><br><br>
    <% end %>
<br><br>
    <%= search_form_for @q, url: search_users_path do |f| %>
      <%= f.label :user_genre_eq, 'ユーザージャンル' %>
      <%= f.radio_button :user_genre_eq, 0 %>学校
      <%= f.radio_button :user_genre_eq, 1 %>資格
      <%= f.radio_button :user_genre_eq, 2 %>その他
      <%= f.submit '検索' %><br><br>
    <% end %>


  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-bordered">
      <% @users.each do |user| %>
      <thead class="bg-light">
        <tr>
          <%= attachment_image_tag user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
          <%= user.name %>
          <%= user.user_genre %>
          </tr>
          <tr>
          <% if user_signed_in? && user != current_user%>
                  <div id=<%= "follow_form" +  user.id.to_s %>>
                  <% if current_user.followings?(user) %>
                    <%= render "relationships/unfollow", user: user %>
                  <% else %>
                    <%= render "relationships/follow", user: user %>
                  <% end %>
                  </div>
                <% end %>
          </tr>
        <tr>
          ベストアンサーの数
          <%= link_to "Usersのshow", user_path(user) %><br>
        </tr>
      </thead>
<% end %>
    </table>
  </div>
</div>