<%= render 'layouts/header', user: @user %>
<div class="container pt-3 pb-3">
  <div class="row mx-auto mt-1">
    <div class="col-5 mx-auto bg-white" style="width:1%;">
      <h2 class="mt-2 pb-1 text-center">登録ユーザー一覧</h2>
      <div class="text-right">
          <%= search_form_for @q, url: search_users_path do |f| %>
            <%= f.label :user_genre_eq, 'ユーザージャンル' %>
            【
              <%= f.radio_button :user_genre_eq, 0 %> 学校
              <%= f.radio_button :user_genre_eq, 1 %> 資格
              <%= f.radio_button :user_genre_eq, 2 %> その他
            】
            <%= f.submit '検索', class: "btn btn-success btn-sm" %>
          <% end %>

        <%= search_form_for @q, url: search_users_path do |f| %>
          <%= f.search_field :name_cont, :placeholder => 'ユーザー名を検索できます', size:"30" %>
          <%= f.submit '検索', class: "btn btn-success btn-sm" %>
        <% end %>
      </div>
      <div class="pl-5 pr-5">
        <table class="table pt-5 pl-5">
          <% @users.each do |user| %>
          <tr>
            <th>
              <div class="">
                <% if user != current_user %>
                  <%= link_to user_path(user) do %>
                    <%= attachment_image_tag user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
                  <% end %>
                <% else %>
                  <%= attachment_image_tag user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
                <% end %>

                <span class=""><%= user.name %> さん</span>
                <div class="pl-5">主な活用方法：<%= user.user_genre %></siv>
              </div>

              <span class="pl-5">
                <%=link_to followings_user_path(user), class: "text-success" do %>
                  <%= user.followings.count %>
                <% end %>
                フォロー
              </span>
              <span class="pl-3">
                <%=link_to followers_user_path(user), class: "text-success" do %>
                  <%= user.followers.count %>
                <% end %>
                フォロワー
              </span>

              <div class="pl-5">
                <% if user_signed_in? && user != current_user%>
                  <div id=<%= "follow_form" +  user.id.to_s %>>
                  <% if current_user.followings?(user) %>
                    <%= render "relationships/unfollow", user: user %>
                  <% else %>
                    <%= render "relationships/follow", user: user %>
                  <% end %>
                  </div>
                <% end %>
              </div>

            </th>
          </tr>
          <% end %>
        </table>
        <div class="float-right">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>
