<%= render 'homes/header' %>
<div class="container pt-3">
  <div class="row mx-auto mt-1">
    <div class="col-5 mx-auto text-center bg-white" style="width:1%;">
      <h2 class="mt-2">ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, size:"30", :placeholder => 'メールアドレス', :class => "col-form-label-lg", autofocus: true, autocomplete: "email" %>
        </div><br>
        <div class="field">
          <%= f.password_field :password, size:"30", :placeholder => 'パスワード(6文字以上)', :class => "col-form-label-lg", autocomplete: "current-password" %>
        </div><br>
        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-success btn-lg" %>
        </div><br>
      <% end %>
      <div>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-primary btn-lg" do %>
          <i class="fab fa-google"></i>oogleでログイン
          <% end %>
        <% end %>
      </div><br>
      <div class="mb-5">アカウントを登録せずにログインする<br>
        <%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post, class: "btn btn-success btn-lg" %>
      </div>
      <div class="mb-5">アカウントをお持ちでない方<br>
        <%= link_to "新規登録", new_registration_path(resource_name), class: "btn btn-danger btn-sm" %>
      </div>
    </div>
  </div>
</div>
