<%= render 'layouts/header', user: @user %>
<div class="container pt-3">
  <div class="row mx-auto mt-1">
    <div class="col-5 mx-auto pb-4 text-center bg-white" style="width:1%;">
      <h2 class="mt-2 pb-4">学習時間打刻</h2>
      <% if @user.study_times.empty? %>
        <%= form_with model: @study_time, url: study_times_path, method: :post, local:true do |f| %>
          <%= f.submit 'START', class: "btn btn-success btn-lg fas" %>
        <% end %>

      <!--updateの最後のレコードがcreateの最後のレコードと値が違ったら表示-->
      <% elsif @user.study_times.last.updated_at != @user.study_times.last.created_at%>
        <%= form_with model: @study_time, url: study_times_path, method: :post, local:true do |f| %>
          <%= f.submit 'START', class: "btn btn-success btn-lg fas" %>
        <% end %>

      <!--updateの最後のレコードがcreateの最後のレコードと値が同じだったら表示-->
      <% elsif @user.study_times.last.updated_at == @user.study_times.last.created_at %>
        <%= form_with model: @study_time, url: study_time_path(@study_time), method: :patch, local:true do |f| %>
          <%= f.submit 'FINISH', class: "btn btn-danger btn-lg fas" %>
        <% end %>
      <% end %>
      <div class="pt-4"><%= link_to "学習時間一覧はこちら", study_times_study_time_path, class: "fas fa-check-circle" %></div>
    </div>
  </div>
</div>

