<h1>StudyTimes#index</h1>
<p>Find me in app/views/study_times/index.html.erb</p>

<h2><%= link_to "学習時間一覧", study_times_study_time_path %></h2>

<!--study_timeが空または、study_timeの最後のfinish_timeが空じゃない時、開始ボタンがでてくる-->
<% if @user.study_times.empty? || @user.study_times.last.finish_time != nil %>

  <%= form_with model: @study_time, url: study_times_path, method: :post, local:true do |f| %>
    <%= f.hidden_field :begin_time, value: Time.now %>
    <%= f.submit '開始' %>
  <% end %>

<!--study_timeの最後のbegin_timeが空じゃない時かつ、study_timeの最後のfinish_timeが空の時、終了ボタンがでてくる-->
<% elsif @user.study_times.last.begin_time != nil && @user.study_times.last.finish_time == nil %>
  <%= form_with model: @study_time, url: study_times_path, method: :post, local:true do |f| %>
    <%= f.hidden_field :finish_time, value: Time.now %>
    <%= f.submit '終了' %>
  <% end %>

<% end %>
