<% today = Date.today%>
<caption><%= today.strftime('%Y年%m月')%></caption>
<% @sum = 0 %>
<% @study_time.each do |study_time| %>
    <% aa = study_time.finish_time - study_time.begin_time %>
    <% ab = (aa / 60 / 60).round(1) %>
    <% @ac = ab.round(1)  %>
    <% @sum = (@sum + @ac) %>
<% end %>

<h2>総合計時間：<%= @sum %></h2>
<%# byebug %>

<table class="table">
  <tr>
    <th>日付</th>
    <th>学習開始時間1</th>
    <th>学習終了時間1</th>
    <th>合計時間</th>
    <th></th>
    <th></th>
  </tr>
<% month = today.strftime('%m')%>
<% d = today.at_beginning_of_month.at_beginning_of_week %>
<% 1.upto(1).each do|i|%>
<% (d..d.end_of_month).each do|c|%>
    <tr>
      <th><%= (c.strftime('%m') == month)? c.strftime('%d(%a)'): "  "%></th>
      <th>
        <!--学習時間開始１-->
        <% @study_time.each do |study_time| %>
          <% if study_time.begin_time.day == c.day %>
          <%= study_time.begin_time.strftime("%H:%M") %><br>
          <% end %>
        <% end %>
      </th>
      <th>
        <!--学習時間終了１-->
        <% @study_time.each do |study_time| %>
          <% if study_time.finish_time.day == c.day %>
          <%= study_time.finish_time.strftime("%H:%M") %><br>
          <% end %>
        <% end %>
      </th>
      <th>
        <!--学習合計時間-->
        <% @study_time.each do |study_time| %>
          <% total_time = 0 %>
          <% if study_time.created_at.strftime("%d").to_i == c.day %>
            <!--finish_timeに時間が登録されているなら表示する-->
            <% if study_time.finish_time %>
              <% total_time = (study_time.finish_time - study_time.begin_time + total_time) / 60 / 60 %>
              <%= total_time.round(1) %><br>

            <% end %>
          <% end %>
        <% end %>
      </th>
      <th>
        <%= link_to "編集", edit_study_time_path(@study_time) %>
      </th>
      <th>
        削除
      </th>
    </tr>
<% end %>

<% end %>
</table>