<% @sum = 0 %>
<% @year.each do |month| %>
  <% month.each do |day| %>
    <% @study_time.each do |study_time| %>
    <% if study_time.begin_time.to_date == day.to_date && study_time.finish_time.to_date == day.to_date %>
      <% aa =  (study_time.finish_time - study_time.begin_time) / 60 / 60 %>
      <% @ac = aa.round(2)  %>
      <% @sum = (@sum + @ac) %>
    <% end %>
    <% end %>
    <% @ym = day.strftime('%Y年%m月') %>
  <% end %>
<% end %>
<h1><%= @ym %></h1><br>
今月の総学習時間:<%= @sum.round(2) %>


<table class="table">
  <tr>
    <th>日付</th>
    <th>学習開始時間</th>
    <th>学習終了時間</th>
    <th>合計時間</th>
  </tr>
  <% @year.each do |month| %>
    <% month.each do |day| %>
    <tr>
      <th><%= day.strftime('%d日(%a)') %></th>
      <th>
        <!--学習開始-->
        <% @study_time.each do |study_time| %>
          <% if study_time.begin_time.to_date == day.to_date %>
            <%= study_time.begin_time.strftime("%H:%M") %><br><br>
          <% end %>
        <% end %>
      </th>
      <th>
        <!--学習終了-->
        <% @study_time.each do |study_time| %>
          <% if  study_time.finish_time.day != nil && study_time.finish_time.to_date == day.to_date %>
            <%= study_time.finish_time.strftime("%H:%M") %>
            <%= link_to "編集", edit_study_time_path(study_time) %><br><br>
          <% end %>
        <% end %>
      </th>
      <th>
        <!--学習時間合計-->
        <% @study_time.each do |study_time| %>
          <% total_time = 0 %>
            <% if study_time.created_at.strftime("%d").to_i == day.day %>
              <% if study_time.finish_time.day != nil && study_time.finish_time.to_date == day.to_date %>
                <% total_time = (study_time.finish_time - study_time.begin_time) / 60 / 60 %>
                <%= total_time.round(1) %><br><br>
              <% end %>
            <% end %>
        <% end %>
      </th>
    </tr>
    <% end %>
  <% end %>
</table>

  <%= paginate @year %>