<%= render 'homes/header', user: current_user %>
<div class="container pt-3">
  <div class="row mx-auto mt-1">
    <div class="col-5 mx-auto pb-4 pt-4 text-center bg-white" style="width:1%;">
      <div class="page-header">
        <h1 class="pb-3">お問い合わせ</h1>
        <div class="pb-3">
          このお問い合わせは改善要求の送信専用です。<br>
          アプリケーションに関する質問にはお答えできません。<br>
          あらかじめご了承ください。
        </div>
      </div>
      <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
      <% if @inquiry.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @inquiry.errors.each do |attr, msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <table class="table">
        <tr>
          <th>名前<span class="text-danger">（必須）</span></th>
          <td><%= f.text_field :name %></td>
        </tr>
            <tr>
          <th>メールアドレス<span class="text-danger">（必須）</span></th>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <th>お問い合わせ内容</th>
          <td><%= f.text_area :message %></td>
        </tr>
      </table>
      <%= f.submit '確認', class: 'btn btn-primary' %>
    <% end %>
    </div>
  </div>
</div>

