<!DOCTYPE html>
<html>
  <head>
    <title>Pomo'sStudy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/d499b29384.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <div class="wrapper">
    <%= yield %>
  </body>

      <footer class="footer">

          <nav class="navbar navbar-expand-lg navbar-light bg-white p-3 justify-content-center" style="opacity:0.8;">Copyright ©︎ 2021 Pomo's Study All Rights Reserved.</nav>

      </footer>
    </div>

</html>
